TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/CodeChunks.db
TGS_Project/.vs/TGS_Project/v17/Solution.VC.db
TGS_Project/.vs/TGS_Project/v17/DocumentLayout.json
TGS_Project/.vs/TGS_Project/v17/DocumentLayout.backup.json
TGS_Project/.vs/TGS_Project/v17/Browse.VC.db
TGS_Project/.vs/TGS_Project/v17/.suo
TGS_Project/.vs/TGS_Project/FileContentIndex/d55ee9d3-a7d7-4472-a49a-c7d9dc0fed40.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/ba7c6de5-b9c6-496d-8c89-d60f0050df15.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/8aa65ad0-fa31-4cf4-9c67-292ad71c024e.vsidx
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/SemanticSymbols.db
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
TGS_Project/.vs/TGS_Project/FileContentIndex/06e48568-6326-4b47-8daf-47a514c234d2.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/436d2583-f982-4ed5-8e20-acd360faad2b.vsidx
TGS_Project/.vs/TGS_Project/v17/Browse.VC.db-shm
TGS_Project/.vs/TGS_Project/v17/Browse.VC.db-wal
TGS_Project/.vs/TGS_Project/v17/Browse.VC.opendb
TGS_Project/.vs/TGS_Project/FileContentIndex/15b42ac4-668d-4fbc-930b-ef585497bd09.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/15b42ac4-668d-4fbc-930b-ef585497bd09.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/1bed2b4b-bfef-4775-9158-2a245176c749.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/35bf62ee-dbd4-4ad4-9ab1-a077163b64a0.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/4e9278d4-599b-48b0-b37c-4c3fe8dee953.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/687419f2-fc67-489d-8182-43b0ced01746.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/a16a4129-c44d-43f7-951e-4084deb764d2.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/b6791ac7-678d-4e29-9fcf-88bdb025ec19.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/c1d8978d-05aa-4168-9316-58d6eb128825.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/e7645d6d-8980-4e80-a465-e28dbbb21e64.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/ef5847a1-3d80-442b-ad94-e666d14041b4.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/fd3f85e7-8d42-48fb-9c07-5abfbef3b486.vsidx
*.vsidx
*.json
*.ipch
*.log
*.tlog
*.pdb

/vsidx
/json
/ipch
/log
/tlog
/pdb/pdb
TGS_Project/.vs/TGS_Project/v17/ipch/AutoPCH/2abd43445d235c33/INGAME.ipch
