TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/CodeChunks.db
TGS_Project/.vs/TGS_Project/v17/Solution.VC.db
TGS_Project/.vs/TGS_Project/v17/DocumentLayout.json
TGS_Project/.vs/TGS_Project/v17/DocumentLayout.backup.json
TGS_Project/.vs/TGS_Project/v17/Browse.VC.db
TGS_Project/.vs/TGS_Project/v17/.suo
TGS_Project/.vs/TGS_Project/FileContentIndex/d55ee9d3-a7d7-4472-a49a-c7d9dc0fed40.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/ba7c6de5-b9c6-496d-8c89-d60f0050df15.vsidx
TGS_Project/.vs/TGS_Project/FileContentIndex/8aa65ad0-fa31-4cf4-9c67-292ad71c024e.vsidx
TGS_Project/.vs/TGS_Project/CopilotIndices/17.13.441.19478/SemanticSymbols.db
